

/* all styles */

.paragraph > .container,
.paragraph > .paragraph-inner {
  padding-top:64px;
  padding-bottom:64px;
}
.paragraph .paragraph > .container,
.paragraph .paragraph > .paragraph-inner {
  padding-top:32px;
  padding-bottom:32px;
}
.paragraph.top-level > .container,
.paragraph.top-level > .paragraph-inner {
  padding-top:64px;
  padding-bottom:64px;
}

.paragraph.paragraph--type--cp-media > .paragraph-inner {
  padding-top:0;
  padding-bottom:0;
}

.paragraph img:not(.card-img-top):not(.img-fluid) {
  max-width:100%;
  height:auto;
}
.paragraph--type--cp-text.card > .paragraph-inner,
.paragraph--type--cp-grid.card > .paragraph-inner {
  padding-left: 24px;
  padding-right: 24px;
}
.paragraph--type--cp-text > .paragraph-inner > .field--name-field-cp-text > h2:first-child,
.paragraph--type--cp-text > .paragraph-inner > .field--name-field-cp-text > h3:first-child {
  margin-top: 0 !important;
}
.paragraph table img {
  max-width:none !important;
  height:auto;
}
.container.paragraph-inner::after {
    content: " ";
    clear: both;
    display: block;
}
.card-body.card-top-padding {
  padding-top:32px !important;
}
.card-top-padding div > h1,
.card-top-padding div > h2,
.card-top-padding div > h3,
.card-top-padding div > h4,
.card-top-padding div > h5 {
  padding-top:0;
  margin-top:0;
}
/* remove the bottom margin from the last element of a text paragraph so the spacing can be managed by the paragraph container and match the top spacing */
.field--name-field-cp-text p:last-child,
.field--name-field-cp-text img:last-child,
.field--name-field-cp-text ul:last-child,
.field--name-field-cp-text ol:last-child {
  margin-bottom:0;
}

h2.section-heading {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 48px;
}
h3.section-heading {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 24px;
}

/* hide section headings in tabs */
.tab-pane .section-heading {
  display: none!important;
}

/* give nested paragraphs smaller headings */
.paragraph:not(.paragraph--type--cp-media-background) .paragraph h2.section-heading,
.paragraph:not(.paragraph--type--cp-media-background) .paragraph h3.section-heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 24px;
}
.paragraph.top-level .paragraph h2.section-heading,
.paragraph.top-level .paragraph h3.section-heading {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -.0875rem;
  margin-bottom: 48px;
}
.paragraph.heading-normal h2.section-heading,
.paragraph.heading-normal h3.section-heading {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -.0875rem;
  margin-bottom: 48px;
}
.paragraph.hide-heading > .paragraph-inner > h2,
.paragraph.hide-heading > .paragraph-inner > h3 {
  display:none;
}
.paragraph.vertical-center > .paragraph-inner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.paragraph.padding-0 > .paragraph-inner {
  padding-top:0;
  padding-bottom:0;
}
.paragraph.padding-150 > .paragraph-inner {
  padding-top:150px;
  padding-bottom:150px;
}
.paragraph.padding-100 > .paragraph-inner {
  padding-top:100px;
  padding-bottom:100px;
}
.paragraph.padding-50 > .paragraph-inner {
  padding-top:50px;
  padding-bottom:50px;
}
.paragraph.padding-16 > .paragraph-inner {
  padding-top:16px;
  padding-bottom:16px;
}
.paragraph.padding-32 > .paragraph-inner {
  padding-top:32px;
  padding-bottom:32px;
}
.paragraph.padding-64 > .paragraph-inner {
  padding-top:64px;
  padding-bottom:64px;
}
.paragraph.padding-128 > .paragraph-inner {
  padding-top:128px;
  padding-bottom:128px;
}
.paragraph.height-100vh > .paragraph-inner {
  height:100vh;
}
.paragraph.height-100p > .paragraph-inner {
  height:100%;
}
.paragraph.hide {
  display:none !important;
}
.goldbar-section {
  position:relative;
}
.goldbar-section::before {
    content: " ";
    display: block;
    width: 200px;
    height: 6px;
    background-color: #FFC627;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.paragraph.narrow .paragraph-inner > * {
  max-width:750px;
  margin-left:0;
  margin-right:auto;
}
.paragraph.narrow-centered .paragraph-inner > * {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.paragraph.wide .paragraph-inner > * {
  max-width:100%!important;
  margin-left:0!important;
  margin-right:0!important;
}
.paragraph.heading-left h2.section-heading {
  text-align:left;
}
.paragraph.heading-right h2.section-heading {
  text-align:right;
}
.paragraph.heading-center h2.section-heading {
  text-align:center;
}

.paragraph.fluid > .container {
  max-width: 100%;
  padding: 0 15px !important;
}
.paragraph.edge-to-edge > .container,
.paragraph.edge-to-edge > .paragraph-inner {
  max-width: 100%;
  padding-top: 0;
}
.paragraph.img-to-edge > .paragraph-inner .embedded-entity {
  margin-left: -15px;
  margin-right: -15px;
}
.paragraph.fluid > .container > .row > .col,
.paragraph.fluid > .container > .row > .col-sm,
.paragraph.fluid > .container > .row > .col-md,
.paragraph.fluid > .container > .row > .col-xs {
  padding-right: 0;
  padding-left: 0;
}

.paragraph.jumbo > .paragraph-inner h1 {
  font-size: 5rem;
  line-height: calc(100% + 8px);
}
.paragraph.jumbo > .paragraph-inner h2 {
  font-size: 4rem;
  line-height: calc(100% + 8px);
}
.paragraph.jumbo > .paragraph-inner h3 {
  font-size: 3.5rem;
  line-height: calc(100% + 8px);
}
.paragraph.jumbo > .paragraph-inner p {
  font-size: 1.5rem;
}
.paragraph.jumbo > .paragraph-inner p.lead-paragraph {
  font-size: 2rem;
}

.field--name-field-cp-text > hr {
  display:none;
}
.animate-on-scroll {
  opacity:0;
}

.paragraph {
}

.paragraph.background-style- > .container {
  padding:0;
}

.paragraph .paragraph.background-style- h2.section-heading {
  margin-top: -.3rem;
}

/* .field--items .background-style-gray:not(:first-child) .paragraph-inner { */
.field--items .background-style-gray + .background-style-gray > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-white + .background-style-white > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-dark-gray + .background-style-dark-gray > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-gold + .background-style-gold > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-blue + .background-style-blue > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-black + .background-style-black > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-maroon + .background-style-maroon > .paragraph-inner {
  padding-top:0;
}
.field--items .background-style-transparent + .background-style-transparent > .paragraph-inner {
  padding-top:0;
}
.paragraph.no-gutters > .paragraph-inner > .row > .col {
  padding-right:0;
  padding-left:0;
}
.paragraph.padding-default-lr {
  padding-left:15px !important;
  padding-right:15px !important;
}
.paragraph.stripes {
  background-image: url(../images/bg-pattern-stripes.png);
  background-repeat: repeat;
}
.paragraph.starburst.background-style-dark-gray {
  background-image: url(../images/background-starburst-gray.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.paragraph.starburst.background-style-gold, .paragraph.starburst.background-style-white {
  background-image: url(../images/background-starburst-gold.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.paragraph.starburst.background-style-blue, .paragraph.starburst.background-style-gray, .paragraph.starburst.background-style-maroon {
  background-image: url(../images/background-starburst-white.png);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.paragraph.morse-black.background-style-black {
  background-image: url(../images/background-morse-black.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.paragraph.morse-white.background-style-white {
  background-image: url(../images/background-morse-white.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.paragraph.network-black.background-style-black {
  background-image: url(../images/background-network-black.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.paragraph.network-white.background-style-white {
  background-image: url(../images/background-network-white.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.paragraph.topo-black.background-style-black {
  background-image: url(../images/background-topo-black.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
.paragraph.topo-white.background-style-white {
  background-image: url(../images/background-topo-white.png);
  background-repeat: repeat;
  max-width: 1920px;
  margin: 0 auto;
}
/*
.paragraph.background-style- a:not(.btn) {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
.paragraph.background-style-dark-gray a:not(.btn) {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
.paragraph.background-style-black a:not(.btn) {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}
.paragraph.background-style-blue a:not(.btn) {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.paragraph.background-style-maroon a:not(.btn) {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.paragraph.background-style-white a:not(.btn) {
  color: #8C1D40;
  text-decoration: none;
  border-bottom: 1px dotted #8C1D40;
}
.paragraph.background-style-gold a:not(.btn) {
  color: #8C1D40;
  text-decoration: none;
  border-bottom: 1px dotted #8C1D40;
}
.paragraph.background-style-gray a:not(.btn) {
  color: #8C1D40;
  text-decoration: none;
  border-bottom: 1px dotted #8C1D40;
}
*/
.text-light a:not(.btn) {
  color: #ccc;
}
.text-light .text-dark a:not(.btn) {
  color: #8C1D40;
}

.paragraph.background-style-gray {
  background-color:#f1f1f1;
}
.paragraph.background-style-white {
  background-color:#ffffff;
}
.paragraph.background-style-dark-gray {
  background-color:#353535;
}
.paragraph.background-style-gold {
  background-color:#ffc627;
}
.paragraph.background-style-blue {
  background-color:#0089DD;
}
.paragraph.background-style-black {
  background-color:#000000;
}
.paragraph.background-style-maroon {
  background-color:#8C1D40;
}


/* blockquote style */

.paragraph blockquote {
  display:block;
  margin: auto;
  position:relative;
}

.paragraph blockquote::before {
  display: block;
  color:#FFC627;
  content:"\201C";
  font-size:10em;
  line-height:.75em;
  max-height: 50px;
  text-indent: -0.04em;
}

.paragraph blockquote cite {
  display: block;
  font-style: normal;
}

.paragraph blockquote cite::before {
  content: " ";
  display: block;
  width: 100px;
  height: 6px;
  background-color: #FFC627;
  z-index: 1;
}


@media only screen and (min-width: 992px) {

  .paragraph blockquote {
    width: 588px;
  }

  .paragraph blockquote::before {
    left:-25px;
    position:absolute;
    top:0;
    z-index: 1;
    text-indent: none;
  }

  .paragraph blockquote > * {
    padding:0 2em;
  }

  .paragraph blockquote::after {
    display: block;
    padding-left: 25px;
    color:#FFC627;
    content:"\201D";
    font-size:10em;
    line-height:.75em;
    position:absolute;
    right:-25px;
    top:0;
    z-index: 1;
    max-height: 50px;
  }

}
.no-gutter > .paragraph-inner > .row > .col {
  padding-right:0;
  padding-left:0;
}
