/* WYSIWYG styles */
 /* WYSIWYG inline text style options */
.gold-on-black {
    box-shadow: -0.15em 0 0 #191919, 0.15em 0 0 #191919;
    background: #191919;
    color: #ffc627;
}
.black-on-gold {
    box-shadow: -0.15em 0 0 #ffc627, 0.15em 0 0 #ffc627;
    background: #ffc627;
    color: #191919;
}
.white-on-black {
    box-shadow: -0.15em 0 0 #191919, 0.15em 0 0 #191919;
    background: #191919;
    color: #fafafa;
}
.black-on-white {
    box-shadow: -0.15em 0 0 #ffffff, 0.15em 0 0 #ffffff;
    background: #ffffff;
    color: #191919;
}
/* WISIWYG and clas_paragraphs table WS2 style */
/* table styles */
.clas-table-wrap {
    display: inline-block;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    border: 1px solid #e5e5e5;
    max-width: 100%;
}
.clas-table-wrap-outer {
    display: inline-block;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
    max-width: 100%;
}

/* unwrap utility class */
.unwrap-table .clas-table-wrap-outer table {
    white-space: normal;
}

.clas-table-wrap-outer table {
    display: block;
    margin: 0 auto;
    white-space: normal;
    border: none;
    width: 100%;
}
.clas-table-wrap-outer table.views-table,
.clas-isearch-view .table {
white-space: normal;
}
.clas-table-wrap-outer table thead tr {
        height: 48px;
        border-top: none;
}
table.layout-table {
    width: 100%;
    display: table;
    white-space: normal;
}
.clas-table-wrap-outer table > thead > tr:first-child th {
    background-color: #d0d0d0;
}

.clas-table-wrap-outer table thead tr th {
    border: none;
}
table.layout-table > thead > tr:first-child th {
    background-color: transparent;
}
.clas-table-wrap-outer table tbody tr th,
.clas-table-wrap-outer table tbody tr td {
    background-color: #fff;
}
table.layout-table tbody tr:nth-child(2n) th,
table.layout-table tbody tr:nth-child(2n) td {
    background-color: transparent;
}
.clas-table-wrap-outer table tbody tr:nth-child(2n) th,
.clas-table-wrap-outer table tbody tr:nth-child(2n) td {
    background-color: #fafafa;
}
.clas-table-wrap-outer table tr > :first-child {
    border: none;
}
.clas-table-wrap-outer table tr {
    height: 48px;
    border: 1px solid #e5e5e5;
    border-left: none;
    border-right: none;
}
.clas-table-wrap-outer table tr:last-child {
    border: none;
}
.clas-table-wrap-outer table tbody tr:hover th,
.clas-table-wrap-outer table tbody tr:hover td,
.clas-table-wrap-outer table tbody tr:focus th,
.clas-table-wrap-outer table tbody tr:focus td {
    background-color: #e8e8e8;
}
table.layout-table tr {
    height: auto;
    border: none;
}
.clas-table-wrap-outer table tr td {
    border: none;
}
table.layout-table tbody tr:hover th,
table.layout-table tbody tr:hover td,
table.layout-table tbody tr:focus th,
table.layout-table tbody tr:focus td,
table.layout-table tbody tr:hover th,
table.layout-table tbody tr:hover td,
table.layout-table tbody tr:focus th,
table.layout-table tbody tr:focus td {
    background-color: transparent;
}
/* mobile table styles */
@media screen and (max-width:767px) {
table {
    overflow-x: scroll;
    border: 1px solid #e5e5e5;
}
table.layout-table {
    overflow-x: visible;
    border: none;
}
}

.highlighted-number {
    color: #ffc627;
    font-size: 64px;
    margin-bottom: 0;
}
.lead-paragraph {
    font-family: inherit;
    font-size: 1.5em;
    font-weight: 200;
    line-height: 1.4;
}
.embedded-entity.align-left,
figure.align-left {
    margin-right: 1rem;
}
.embedded-entity.align-right,
figure.align-right {
    margin-left: 1rem;
}
.embedded-entity.align-center,
figure.align-center {
    width: fit-content;
    width: -moz-fit-content;
}
figure figcaption {
    color: #747474;
    border: 1px solid #d0d0d0;
    border-top: none;
    opacity: 1;
    background: #fff 0% 0% no-repeat padding-box;
    padding: .75rem;
    font-size: .75rem;
}

/* front facing admin styles */
.local-tasks-block-wrapper {
    background-color: #62d4ff;
}
.local-tasks-block-wrapper .nav-tabs {
    border-bottom: none;
}
.local-tasks-block-wrapper li a.is-active {
color: #004f80;
}
.local-tasks-block-wrapper li a {
color: #0074bd;
font: normal 81.3%/1.538em "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
padding: 7px 24px 7px 24px;

z-index: 15;
    border-color: #a6a6a6;
    border:none;
}
.local-tasks-block-wrapper ul.tabs {
    margin-bottom:0;
}
.local-tasks-block-wrapper li a:hover {
color: #0074bd;
text-decoration: none;
}
.local-tasks-block-wrapper li {
background-color: rgba(242, 242, 240, 0.7);
color: #0074bd;
text-overflow: ellipsis;
white-space: nowrap;
}
.local-tasks-block-wrapper li {
    margin-left: -1px;
}
.tabs a.is-active {
    background-color: #fff;
}


.admin-text {
padding: 4px;
font-weight: bold;
color: #0074bd;
opacity: 0.6;
}

.node-preview-form-select {
background-color: #62d4ff !important;
padding-top: 20px;
}

/* some old btn classes that are still in use across sites */

.btn-primary,
.btn-primary:hover {
    color: #fff;
    background-color: #8c1d40;
    border-color: #8c1d40;
}
.btn-secondary,
.btn-secondary:hover {
    color: #212529;
    background-color: #ffc627;
    border-color: #ffc627;
}
.btn-info,
.btn-info:hover,
.btn-info:active {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}
.btn-blue,
.btn-blue:hover {
  color: #212529;
  background-color: #bfbfbf;
  border-color: #bfbfbf;
}

/* misc. layout adjustments */

section.node-type-cp_landing_page {
    padding-right:0;
    padding-left:0;
}

/* fix oversized logo from ASU bootstrap */
#endorsed-logo img {
    transform: scale(1); 
}